<ion-view title="Game">
    <ion-content overflow-scroll="true" class="has-header" style="background:#F0F0F0; ">

        <div class="jeu" style="background-image: url('images/app/foret.jpeg'); ">
        </div>

        <div>
            <a class="item item-avatar" style="background-color:rgba(100,50,200,1);">
                <img src="images/app/sarko.jpeg">
                <h2>Venkman</h2>
                <h5>Back off, man. I'm a scientist.</h5>
            </a>
        </div>

        <div class="padding">
            <h4 style="color: blue;">
                Description
            </h4>
            <p>Que dire d'une belle foret si ce n'est que sa végétation époustouflante n'est autre que le fruit de la conception divine
                <p>
        </div>

        <div class="padding"> 
            <h4 style="color: blue;">
               Statistique
            </h4>
            <div class="row">
                <div align="center" class="col">
                    <i class="icon icon-large ion-ios-people"></i>
                </div>
                <div align="center" class="col">
                    <i class="icon icon-large ion-trophy"></i>
                </div>
                <div align="center" class="col">
                    <i class="icon icon-large ion-ios-world"></i>
                </div>
            </div>

            <div class="row">
                <div align="center" class="col">127#</div>
                <div align="center" class="col">1rst : laptop</div>
                <div align="center" class="col">27 countries</div>
            </div>
        </div>
    </ion-content>
</ion-view>
